.content p,
.content li {
    font-size: 1.2rem;
}

[id] {
    scroll-margin-top: 4rem;
}

#coagulateMain {
    overflow-x: hidden;
    overflow-y: clip;
    margin-top: 3rem;
}


.hero-body {
    padding-top: 0rem;
}

@media screen and (min-width: 1024px) {
    #coagulateMain {
        margin-top: 3rem;
    }

    .navbar-brand {
        min-height: 4rem;
        font-size: 1.5em;
    }

    .navbar-item img {
        max-height: 3rem;
    }

    .hero-body {
        padding-top: 3rem;
    }

    .hero-body h1 {
        margin-top: 140px;
    }

    .hero-body img#hero-screenshots {
        margin: 0;
    }
}

.hero-body img#hero-screenshots {
    max-width: 550px;
    transform: rotate(15deg);
    margin-top: 60px;
    margin-left: 10px;
}

a.navbar-item:hover {
    color: #161618;
}

.image-gallery li+li {
    margin-top: 0px;
}

.image-gallery li {
    margin-top: 0.25em;
}