<!DOCTYPE html>
<html lang="{{$.Site.Language}}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{$.Site.Title}}</title>
    <link rel="stylesheet" href="/css/bulma/bulma.min.css">
</head>



<body class="index has-navbar-fixed-top">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a href="/{{$.Site.Language}}" class="navbar-item">
                    <img src="/img/icon.png">
                    <strong>Coagulate</strong>
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="coagulateNavbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="coagulateNavbar" class="navbar-menu">
                <div class="navbar-end">
                    {{- range site.Menus.top }}
                    <a href="{{ .URL }}" class="navbar-item">
                        {{ .Name }}
                        {{- with .Page }}
                        {{- with .Params.version -}}
                        ({{ . }})
                        {{- end }}
                        {{- end }}
                    </a>
                    {{- end }}
                    <div class="navbar-item">
                        {{ if .Site.IsMultiLingual }}
                        {{ partial "language-switcher.html" . }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="container content mt-6">
        {{ block "main" . }}
        {{ end }}

        {{ partial "footer.html" . }}
    </div>
</body>





</html>