<footer class="footer mt-6">
    <div class="content has-text-centered">
        <p>
            <strong>Coagulate</strong>
            <br>
            {{ T "developed_by" }} <a href="https://github.com/LGro/coagulate/graphs/contributors" target="_blank">
                {{ T "an_awesome_community" }}</a>
            <br>
            {{ T "delivered_by" }} <a href="https://wtf-eg.de" target="_blank">WTF Kooperative e.G.</a>
        </p>
        <p>
            <a href="#">{{ T "imprint" }}</a>
            <br>
            <a href="#">{{ T "privacy_policy" }}</a>
        </p>
    </div>
</footer>