<footer class="footer mt-6">
    <div class="content has-text-centered">
        <p>
            <strong>Reunicorn</strong>
            <br>
            {{ T "developed_by" }} <a href="https://github.com/LGro/reunicorn/graphs/contributors" target="_blank">
                {{ T "the_community" }}</a>
            <!-- <br>
            {{ T "delivered_by" }} <a href="https://wtf-eg.de/en/" target="_blank">WTF Kooperative eG</a> -->
            <br>
            Follow updates on <a href="https://floss.social/@reunicorn" target="_blank">Mastodon</a>
            <br>
            Review the <a href="https://github.com/LGro/reunicorn" target="_blank">source code</a>
        </p>
        <!-- <p>
            {{ with .Site.GetPage "legal-notice" }}
            <a href="{{ .RelPermalink }}">{{ T "imprint" }}</a>
            {{ end }}
            <br>
            <a href="#">{{ T "privacy_policy" }}</a>
        </p> -->
    </div>
</footer>